{%extends "base.html"%}
{% load static %}
    {%block content%}

    <div style= "margin-top: 200px;">
        <h1 class="text-center">Registrar producto</h1>

        <form method="post" enctype="multipart/form-data">
            {%csrf_token%}
           
            <div>
                <label for="nombre">Nombre del producto: </label>
                {{form.nombre}}
                <label for="precio">Precio: </label>
                {{form.precio}}
                <label for="imagen">Imagen: </label>
                {{form.imagen}}

            </div>

            {%for error in field.errors%}
                <p>{{error}}</p>
            {%endfor%}
            <button>Guardar</button>
        </form>
    </div>
      
 
    {%endblock content%}