{%extends "base.html"%}
{% load static %}
    {%block content%}


    <div style = "display: flex; justify-content: center; margin-top: 200px;">
        <form method="post" enctype="multipart/form-data">
            {%csrf_token%}
           
           
            <div class= "row -1 ">
            
                <div class="card col-4" style="width: 18rem;">
                    <img src="{% if producto.imagen%}
                            {{producto.imagen.url}}
                            {% endif %}" class="card-img-top" alt="..." style= "height: 300px;">
                    <div class="card-body">
                      <h5 class="card-title">{{producto.nombre}}</h5>
                      <p class="card-text">{{producto.precio}}</p>
                      {{form.as_p}}
                      <button>Comprar</button>
                    </div>
                  </div>
             
            </div>

            {%for error in field.errors%}
                <p>{{error}}</p>
            {%endfor%}
        </form>
    </div>         
    </div>

   
      
 
    {%endblock content%}